
.dashboard-bg {
    background: #f4f6f8;
    min-height: 100vh;
}

.dashboard-container {
    margin-top: 140px;
    text-align: center;
}

.dashboard-container h2 {
    margin-bottom: 30px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 30px;
    justify-content: center;
}

.card {
    cursor: pointer;
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.25);
    border: 1px solid #1b7f2a;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #555;
}
