body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-bg {
    background: linear-gradient(
        to bottom,
        #ff9933 0%,     /* Saffron */
        #ffb366 20%,
        #ffffff 50%,   /* White */
        #b7e4c7 70%,
        #138808 100%   /* Green */
    );
    height: 100vh;
    overflow: hidden;
}


/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 15px 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.header-text h1 {
    margin: 0;
    font-size: 22px;
}

.header-text p {
    margin: 2px 0 0;
    font-size: 13px;
    color: #555;
}

/* Login card */
.login-box {
    background: white;
    width: 500px;
    padding: 40px;
    margin: 140px auto 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 18px rgba(0,0,0,0.25);
}

.login-box h2 {
    margin-bottom: 8px;
}

.subtitle {
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
}

.subtitle span {
    font-size: 12px;
    color: #777;
}

/* Inputs */
input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}

/* Password eye */
.password-box {
    position: relative;
}

.password-box span {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #138808;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0f6b06;
}

/* Secure text */
.secure-text {
    margin-top: 15px;
    font-size: 13px;
    color: #444;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #555;
}

/* Header logo layout */
.header-content {
    display: flex;
    align-items: center;
}

.logo {
    height: 55px;
    margin-right: 15px;
}

/* Intel logo */
.intel-logo {
    height: 22px;
    margin-top: 5px;
}
