
<!DOCTYPE html>
<html>
<head>
     <title>Dashboard - e-Seva</title>

    <!-- Global styles -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- Dashboard-only styles -->
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body class="dashboard-bg">

    <!-- Header -->
    <div class="header">
        <div class="header-content">
            <img src="/static/logo.png" class="logo" alt="Logo">
            <div class="header-text">
                <h1>AI e-Seva Smart Form Filling System</h1>
                <p>Select a service to continue</p>
            </div>
        </div>
    </div>

    <!-- Dashboard Content -->
    <div class="dashboard-container">
        <h2>Select Form to Fill</h2>

        <div class="card-grid">
            <a href="/form1" class="card">
                <h3>Form 1</h3>
                <p>Personal Information Service</p>
            </a>
 
            <a href="/form2" class="card">
    <h3>Form 2</h3>
    <p>Aadhaar Enrolment / Update</p>
</a>


            <a href="/upload?form=3" class="card">
                <h3>Form 3</h3>
                <p>Education Related Service</p>
            </a>

            <a href="/upload?form=4" class="card">
                <h3>Form 4</h3>
                <p>Other Government Service</p>
            </a>

        </div>
    </div>

</body>
</html>
