<!DOCTYPE html>
<html>
<head>
    <title>e-Seva Smart Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-bg">

    <!-- Header -->
    <div class="header">
    <div class="header-content">
        <img src="/static/logo.png" class="logo" alt="Logo">
        <div class="header-text">
            <h1>AI e-Seva Smart Form Filling System</h1>
            <p>Powered by OCR • Voice • AI</p>
        </div>
    </div>
</div>


    <!-- Login Card -->
    <div class="login-box">
        <h2>Citizen / Operator Login</h2>
        <p class="subtitle">
            Auto-fill government forms using documents or voice input<br>
            <span>Faster • Accurate • Paperless</span>
        </p>

        <form action="/dashboard" method="get">
            <input type="text" placeholder="Username" required>

            <div class="password-box">
                <input type="password" id="password" placeholder="Password" required>
                <span onclick="togglePassword()">👁️</span>
            </div>

            <button type="submit">Secure Login</button>
        </form>

        <p class="secure-text">🔒 Secure access for official use</p>
    </div>

    <!-- Footer -->
   <div class="footer">
    <img src="/static/intel.png" class="intel-logo" alt="Intel Logo">
    <span>Intel Hackathon Project • 2025</span>
</div>


<script>
function togglePassword() {
    const pwd = document.getElementById("password");
    pwd.type = pwd.type === "password" ? "text" : "password";
}
</script>

</body>
</html>

